<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<h1>Table User</h1>

<div th:each="user : ${users}">
    <a th:href="@{/table/v1/{id}(id=${user.getId()})}"
       th:text="${user.getName() + ' (' + user.getEmail() + ')'}">User</a>
    <br/>
    <a th:href="@{/table/v1/edit/{id}(id=${user.getId()})}">Edit</a>

    <form th:action="@{/table/v1/delete/{id}(id=${user.getId()})}" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" th:onclick="'return confirm(\'Are you sure you want to delete this user?\');'">Delete</button>
    </form>
</div>

<br/>
<hr/>

<a href="/table/v1/newUser">New User</a>

</body>
</html>
